


	<%= form_for ([@post, @post.comments.build]) do |f| %>
	<div class="form-group">
		<%= f.label :name,"Adınız:", for: "usr",class: " control-label" %>

		<%= f.text_field :name, placeholder: "Adınızı giriniz...", class: "form-control", id: "usr"%>

</div>

<div class="form-group ">
	<%= f.label :comment,"Yorumunuz:",class: " control-label" %>
	<%= f.text_area :comment, placeholder:"Yorumunuz...", class:"form-control" %>
</div>

    <%= f.submit "Gönder", class: "btn btn-default btn-primary btn-lg" %>
	<% end %>
